<%= stylesheet_link_tag "animals" %>

<h1 class="title"><%= link_to 'Додати тварину', new_animal_path %></h1>
<br>
<div class="row">
  <% @animals.each do |animal| %>
    <div class='column'>
      <div><%= link_to 'Видалити', animal_path(animal), class: 'delete',
              method: :delete,
              data: { confirm: 'Ви впевнені?' } %>
      </div>
      <div>
        <% if animal.avatar.attached? %>
          <%= image_tag(animal.avatar, :size => "128x128", class: 'image is-128x128') %>
        <% end %>
      </div>
      <div class="animal-name"><%= animal.title %></div>
    </div>
  <% end %>
</div>
